.b-color{
    background-color: peachpuff;
}
.submit-button{
    width: 199px;
    height: 51px;
    font-weight: bolder;
    font-size: larger;
    color: black;
    background-color:rgb(96, 194, 250);
}
.save-button{
    width: 132px;
    height: 44px;
    font-weight: bolder;
    font-size: larger;
    color: black;
    background-color:rgb(96, 194, 250);
}
.invalid{
    color: red;
    display: none;
}
#saving-field{
    width: 132px;
    height: 44px;
}
